In [1]:
import numpy as np # linear algebra operations
import pandas as pd # importing exporting data and creating data frame
import seaborn as sns # visualization of data
import matplotlib.pyplot as plt # visualization of data
import sklearn #collection of machine learning algorithms
import scipy #collection of functions for scientific computing and advance mathematics
import random
import time

In [2]:
'''
Importing important functions from above libraries
'''

# model algorithms '_'
from sklearn import svm, tree, linear_model, neighbors, naive_bayes

# important helper function ;=;
from sklearn.preprocessing import OneHotEncoder, LabelEncoder # very important functions
from sklearn import feature_selection, model_selection, metrics

# some more visualization of data '-'
import matplotlib as mpl
import matplotlib.pylab as pylab
from pandas.tools.plotting import scatter_matrix

#setting or configuring visualization :D
%matplotlib inline
mpl.style.use('ggplot')
sns.set_style('white')
pylab.rcParams['figure.figsize'] = 12,8

In [3]:
### Importing data D:
traind = pd.read_csv("train.csv")
testd = pd.read_csv("test.csv")

In [4]:
traind.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [5]:
traind.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
## checking for null values
print("Training Data")
print(traind.isnull().sum())

Training Data
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [7]:
print("Testing Data")
print(testd.isnull().sum())

Testing Data
PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [8]:
## we have null values in age embark and cabin ;0

'''
4 C's of datascience cleaning

1. Correcting 
2. Completing
3. Creating
4. Converting

'''

datacleaner = [traind,testd]


for dataset in datacleaner:    
    #complete missing age with median
    dataset['Age'].fillna(dataset['Age'].median(), inplace = True)

    #complete embarked with mode
    dataset['Embarked'].fillna(dataset['Embarked'].mode()[0], inplace = True)

    #complete missing fare with median
    dataset['Fare'].fillna(dataset['Fare'].median(), inplace = True)
    
#delete the cabin feature/column and others previously stated to exclude in train dataset
drop_column = ['PassengerId','Cabin', 'Ticket']
traind.drop(drop_column, axis=1, inplace = True)

print(traind.isnull().sum())
print(testd.isnull().sum())

Survived    0
Pclass      0
Name        0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64
PassengerId      0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          327
Embarked         0
dtype: int64

In [11]:
## 3. Creating the data !!! : Feature Engineering of training dataset

for dataset in datacleaner:    
    #Discrete variables
    dataset['FamilySize'] = dataset ['SibSp'] + dataset['Parch'] + 1

    dataset['IsAlone'] = 1 #initialize to 1 is alone
    dataset['IsAlone'].loc[dataset['FamilySize'] > 1] = 0 # now update to 0 if family size is greater than 1

    #http://www.pythonforbeginners.com/dictionary/python-split
    dataset['Title'] = dataset['Name'].str.split(", ", expand=True)[1].str.split(".", expand=True)[0]


    '''
    Binning refers to dividing a list of continuous variables into groups. 
    It is done to discover set of patterns in continuous variables, which are difficult to analyze 
    otherwise. 
    Also, bins are easy to analyze and interpret. 
    But, it also leads to loss of information and loss of power. 
    Once the bins are created, the information gets compressed into groups which \
    later affects the final model. 
    Hence, it is advisable to create small bins initially.
    This would help in minimal loss of information and produces better results.
    However, I’ve encountered cases where small bins doesn’t prove to be helpful.
    In such cases, you must decide for bin size according to your hypothesis.
    We should consider distribution of data prior to deciding bin size.
    '''
    
    #Continuous variable bins; qcut vs cut:
    #Fare Bins/Buckets using qcut or frequency bin
    dataset['FareBin'] = pd.qcut(dataset['Fare'], 4)

    #Age Bins/Buckets using cut or value bins:
    dataset['AgeBin'] = pd.cut(dataset['Age'].astype(int), 5)
    
#print(traind['Title'].value_counts())

## Replace titles with common name in Misc.
for dataset in datacleaner:
    dataset['Title'] = dataset['Title'].replace(['Lady', 'the Countess','Capt', 'Col',\
 	'Don', 'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'], 'Misc')

    dataset['Title'] = dataset['Title'].replace('Mlle', 'Miss')
    dataset['Title'] = dataset['Title'].replace('Ms', 'Miss')
    dataset['Title'] = dataset['Title'].replace('Mme', 'Mrs')
    
traind[['Title', 'Survived']].groupby(['Title'], as_index=False).mean()

d:\kaggle_comp\env\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
d:\kaggle_comp\env\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

    Title  Survived
0  Master  0.575000
1    Misc  0.347826
2    Miss  0.702703
3      Mr  0.156673
4     Mrs  0.793651

In [13]:
## 4. CONVERT: convert objects to category using Label Encoder for train and test/validation dataset
## Label Encoder converts the categorical data, or text data, into unique numbers.
label = LabelEncoder()
for dataset in datacleaner:    
    dataset['Sex_Code'] = label.fit_transform(dataset['Sex'])
    dataset['Embarked_Code'] = label.fit_transform(dataset['Embarked'])
    dataset['Title_Code'] = label.fit_transform(dataset['Title'])
    dataset['AgeBin_Code'] = label.fit_transform(dataset['AgeBin'])
    dataset['FareBin_Code'] = label.fit_transform(dataset['FareBin'])

In [23]:
# Feature selection and splitting the data
Target = ['Survived']
x_data = ['Sex','Pclass', 'Embarked', 'Title','SibSp', 'Parch', 'Age', 'Fare', 'FamilySize', 'IsAlone']
xy_data =  Target + x_data
print('Original X Y: ', xy_data, '\n')

x_data_calc = ['Sex_Code','Pclass', 'Embarked_Code', 'Title_Code','SibSp', 'Parch', 'Age', 'Fare']

train1_x, test1_x, train1_y, test1_y = model_selection.train_test_split(traind[x_data], traind[Target], random_state = 0)
train1_x.shape,test1_x.shape,train1_y.shape,test1_y.shape

Original X Y:  ['Survived', 'Sex', 'Pclass', 'Embarked', 'Title', 'SibSp', 'Parch', 'Age', 'Fare', 'FamilySize', 'IsAlone']

((668, 10), (223, 10), (668, 1), (223, 1))

In [16]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier

In [24]:
# Logistic Regression
logreg = LogisticRegression()
logreg.fit(train1_x, train1_y)
Y_pred = logreg.predict(test1_x)
acc_log = round(logreg.score(X_train, Y_train) * 100, 2)
acc_log

d:\kaggle_comp\env\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

ValueError: could not convert string to float: 'Mr'